.HomePages {
  margin: -15px;

  .Images {
    object-fit: fill;
    width: 100%;
    max-height: 300px;
  }

  .Dropdown {
    border-radius: 20px !important;
    min-width: 20em !important;
  }

  .Search {
    input {
      min-width: 20em !important;
    }
  }

  .gridColumnCities {
    text-align: -webkit-center;
  }

  .gridColumnRestaurant {
    text-align: -webkit-left;
  }

  .Grid {
    z-index: 1;
    position: absolute;
    left: 365px;
    top: 340px;
  }
}