.HomePages {

  .Images {
    max-height: 300px;
    top: -51px;
  }

  .Dropdown {
    border-radius: 20px !important;
    min-width: 20em !important;
  }

  .Search {
    input {
      min-width: 20em !important;
      border-radius: 20px;
    }
  }

  .buttonSearch {
    height: 38px;
    border-radius: 20px !important;
    min-width: 12em !important;
  }

  .gridColumnCities {
    padding-right: 0rem !important;
    text-align: -webkit-center;
    
  }

  .gridColumnRestaurant {
    text-align: -webkit-left;
  }

  .gridColumnSearch {
    text-align: -webkit-left;
  }

  .Grid {
    z-index: 1;
    position: absolute;
    left: 285px;
    top: 281px;
  }

  .textFoodies {
    z-index: 1;
    position: relative;
    left: 560px;
    top: 155px;
  }

  .fontSize {
    font-size: 40px;
    color: darkorange;
  }
}