.HeaderLayouts {
  height: 120px;
  padding-top: 40px !important;
  padding-left: 20px !important;
  background-image: url('https://images.immediate.co.uk/volatile/sites/2/2017/07/Coppa-Club-PWF-0132-HDR.jpg?quality=45&resize=1500,413') !important;
  
  .colorText {
    color: #ffffff !important;    
  }
}