.ResultPages {
  
  .Grid {
    margin: 3%;
  }

  .Card {
    max-width: 290px;
  }

  .Image {
    height: 150px;
    max-height: 150px;
  }

  .Content {
    height: 100px;
    max-height: 100px;
  }

  .gridColumn {
    margin: 0 auto;
    margin-bottom: 50px !important;
  }

  .Label {
    z-index: 1;
    position: absolute;
    left: 253px;
    top: 0px;
  }

  .labelRating {
    width: 37px;
    max-width: 37px;
    border-radius: unset;
  }

  .buttonLoadmore {
    text-align: center;
    margin-bottom: 2%;
  }
  .buttonBack {
    text-align: center;
    margin-bottom: 5%;
  }
}